[Unit]
Description=Simple openvpn tray icon for ubuntu

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/home/ysance.local/r.carmona-hagelsteen/projects/vpn_icon/vpn_icon.py start
ExecStop=/home/ysance.local/r.carmona-hagelsteen/projects/vpn_icon/vpn_icon.py stop
Restart=always

[Install]
WantedBy=multi-user.target
